:root {
  --bs-primary: #2b6cd4;
  --bs-primary-rgb: 43, 108, 212;
}

:root {
  --bs-light: #eef2f8;
  --bs-light-rgb: 238, 242, 248;
}

:root {
  --bs-light: #eef2f8;
  --bs-light-rgb: 238, 242, 248;
}

.card {
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12) !important;
}


body {
  font-family: 'Poppins', sans-serif;
}